/*-------------------------------Footer Designing --------------------------*/
.main_footer{
    height: 500px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 8px rgb(179, 7, 7);
    flex-wrap: wrap;
    justify-content: center;
}
.footer_item{
    flex-basis: 33.33%;
    height: 500px;
    border: 1px solid hsla(0, 100%, 50%,.1);
    padding: 10px 15px;
    box-shadow: 0px 20px 22px 0px rgba(231, 59, 188, 0.289);
}
.footer_item_title_1, .footer_item_title_2{
    border: 2px solid rgb(100, 91, 91);
    padding: 12px 16px;
    text-align: center;
    font-size: 18px;
    transition: background-color .5s linear;
}
.footer_item_title_1:hover, .footer_item_title_2:hover{
    background-color: hsla(0, 0%, 100%, .4);
}
.ftr_menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.ftr_menu a{
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid hsla(16, 100%, 50%, .1);
    text-decoration: none;
    color: inherit;
    transition: background-color 1s linear;
    margin-bottom: 3px;
}
.ftr_menu a:hover{
    background: hsla(60, 100%, 50%, .4);
}
.footer_item .support_mail{
    width: 300px;
    height: 400px;
    border: 1px solid hsla(0, 0%, 100%, .2);
    background: black;
    box-shadow: 0px 10px 10px 0px white;
    padding: 10px;
}
.support_mail input{
    width: 80%;
    padding: 8px 12px;
    margin-bottom: 5px;
}
.support_mail textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid rgba(250, 247, 247, 0.2)!important;
}

.support_mail input, .support_mail textarea{
    background: black;
    border: none;
    color: inherit;
}
.support_mail [type="submit"]{
    background: yellow;
    color: black;
    font-size: 18px;
  
}
.footer_nav_hori{
    background: yellow;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 20px;
    color: black;
    line-height: 35px;
    text-shadow: 1px 1px orangered;
    flex-flow: row wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
}
.footer_nav_hori i{
    font-size: 50px;
    padding: 0px 30px;
    color: white;
    display: inline-block;
    background: black;
    border-radius: 5%;
 
}