::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(red, yellow);
    border-radius: 10px;
   
}
::-webkit-scrollbar-track{
    background: transparent;
}

header{
    height: 50px;
    background: rgb(65, 57, 57);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
header .header_item{
    flex-grow: 1;
    position: relative;
    display:flex;
    flex-flow: wrap row;
    align-items: center; 
}
header .header_item:nth-child(1)> .header_link{
    text-align: center;
    color:inherit;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
}
#header_round{
    display: inline-block;
    width: 25px;
    height: 30px;
    background: linear-gradient(red, yellow);
    border-radius: 50%;
    animation: header_round infinite 1s linear alternate ;
}
@keyframes header_round{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
#header_round:nth-child(1){
    margin-left: 20px;
}
#header_round:nth-child(2){
    margin-left: 40px;
}
#header_round:nth-child(3){
    margin: 60px;
}
.search>.header_link{
    padding: 5px 15px;
    color: inherit;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 3px;
}
.search>.header_link:hover{
    animation: bg-color 1s linear forwards;
}
.log>.header_link,.reg>.header_link{
    color: inherit;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 3px;
}
.search> input{
    width: 400px;
}

.log>.header_link:hover,.reg>.header_link:hover{
    animation: bg-color 1s linear forwards;
}
@keyframes bg-color{
    0%{
        background:linear-gradient(gold, dodgerblue);
    }
    100%{
        background: linear-gradient(dodgerblue, gold);
    }
}
/*-----------------------------Header End/Navigation Start----------------------*/
#nav_bar{
    display: block;
    background: rgb(58, 53, 53);
    padding: 10px 16px;
    color: inherit;
}
#nav_bar span{
    transition: 1s linear background-color transform;
    transform: rotate(0deg);
    display: inline-block;
    padding: 5px 8px;
}
#nav_bar span:hover{
    transform: rotate(180deg);
    background-color: rgb(82, 152, 221);
}
.nav-link{
    border-bottom: 2px solid rgb(61, 60, 60);
    color: inherit;
}
.nav-link:hover{
    border: 1px solid rgb(61, 60, 60);
    border-bottom: 0px;
}
.custom_home_dropmenu{
    width: 300px;
}
.custom_services_dropmenu{
    width: 300px;
}
.custom_teacher_dropmenu{
    width: 400px;
}
.custom_student_dropmenu{
    width: 400px;
}
.custom_science_dropmenu{
    width: 350px;
}
.custom_humanity_dropmenu{
    width: 350px;
}
.custom_commerce_dropmenu{
    width: 350px;
    margin-right: 150px;
}
.custom_blog_dropmenu{
    width: 400px;
    margin-right: 360px;
}